In [1]:
"""
Introduction to Data Science
    Programming Exercise: 01 
    Name : Tran Minh Hien
    Student ID: 21280016
"""

'\nIntroduction to Data Science\n    Programming Exercise: 01 \n    Name : Tran Minh Hien\n    Student ID: 21280016\n'

# Introduction to Data Science - 21KDL1
## PE01: Python fundamentals:

## Preliminaries
Taking user input from the keyboard in Python:

In [2]:
# Execute this cell and then type your name inside the box
name = input("Please enter your name: ")
print(name)

Hien

*Note* that everything from the user's keyboard input will be considered as a string. If you want to input an integer (same as float, etc), let's use `int()` to convert it into a correspoinding data type.

## Exercises

### Variable Exercises:
**Q1:** Write a program that asks the user for their name and age, then prints out a message that says "Hello `[name]`, you are `[age]` years old!"
Write a program that takes a user input number and prints out whether the number is odd or even.

In [3]:
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))
print(f"Hello {name}, you are {age} years old!")

Hello Hien , you are 20 years old!


**Q2:** Write a program that takes a user input number and prints out whether the number is odd or even.

In [4]:
number =int(input("please enter number: "))
if number %2 == 0 :
    print("The number is odd.")
else :
    print("The number is even.")

The number is odd.

### Loop Exercises:
**Q3:** Write a program that prints out the numbers from 1 to 10 using a for loop.

In [5]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

**Q4:** Write a program that asks the user to input a number, then prints out all the even numbers between 0 and the user input number using a while loop.

In [6]:
is_continue= True
num = int(input("Please enter the number: "))
num_check = 0 
while is_continue:
    if num_check != num + 1:
        if num_check %2 == 0:
            print(num_check)
    else:
        is_continue= False
    num_check +=1

0
2
4
6
8
10
12
14
16
18
20
22
24

### List Exercises:
**Q5:** Write a program that takes the last 5 elements of a list `numbers`

In [7]:
numbers = [5, 1, 7, 7, 8, 10, -2, 6, 8, 9, -5, 11, 20]
print(numbers[(len(numbers)-5) : len(numbers)])

[8, 9, -5, 11, 20]

**Q6:** Write a program that takes a list of `numbers` from 1 to 10 and returns a new list containing only the even numbers. (Recommend to use list comprehension)

In [8]:
numbers =[number for number in range(1,11)]
even_numbers= [number for number in numbers if number %2==0]
print(even_numbers)

[2, 4, 6, 8, 10]

### Dictionary Exercises:
**Q7:** Write a program that takes a dictionary of names and ages and returns a new dictionary containing only the names of people who are over 18 years old.

In [9]:
name_to_age = {'John': 19, 
                'Tom': 15, 
                'James': 30, 
                'Danny': 18, 
                'Lisa': 19, 
                'Rose': 17, 
                'Jisoo': 16, 
                'Jennie': 20}

name_age_over18= {}
for name in name_to_age:
    if name_to_age[name] > 18 :
        name_age_over18[name]=name_to_age[name]
print(name_age_over18)

{'John': 19, 'James': 30, 'Lisa': 19, 'Jennie': 20}

### Function Exercises:
**Q8:** Write a function `calc_sum()` that takes a list of numbers `nums` as input and returns the sum of the numbers.

In [10]:
def calc_sum(nums):
    return sum(nums)

nums = [5, 3, -2, 4, -1]
calc_sum(nums)

9

**Q9:** Write a function that takes a string as input and returns a dictionary containing the frequency of each character in the string.

In [11]:
def count_char_freq(input_string):
    d = {}
    for i in input_string:
        d[i] = d.get(i,0)+1
    return d

string = "abcaccdefeef"
char_freq = count_char_freq(string)
print(char_freq)

{'a': 2, 'b': 1, 'c': 3, 'd': 1, 'e': 3, 'f': 2}

### Pandas Exercises:
Let's use dataset available at https://www.kaggle.com/datasets/shivamb/netflix-shows to complete the following exercises:

**Q10:** Load a CSV file `netflix_titles.csv` into a pandas DataFrame and print out the first 10 rows.

In [12]:
import pandas as pd

file_csv= pd.read_csv('netflix_titles.csv')
print(file_csv.head(10))

  show_id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                        director  \
0                Kirsten Johnson
1                            NaN
2                Julien Leclercq
3                            NaN
4                            NaN
5                  Mike Flanagan
6  Robert Cullen, José Luis Ucha
7                   Haile Gerima
8                Andy Devonshire
9                 Theodore Melfi

                                                cast  \
0                                                NaN
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                                NaN  September 24, 2021
3                                                NaN  September 24, 2021
4                                              India  September 24, 2021
5                                                NaN  September 24, 2021
6                                                NaN  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...

**Q11:** Show movies that were released between 2016 and 2020 (i.e, including 2016 and 2020). *Hint: you might be interested in `release_year`.

In [13]:
file_to_film=file_csv.loc[(file_csv["release_year"] >=2016)& (file_csv['release_year']>=2020)]
print(file_to_film['title'])

0                            Dick Johnson Is Dead
1                                   Blood & Water
2                                       Ganglands
3                           Jailbirds New Orleans
4                                    Kota Factory
                          ...
7594           Norm of the North: Family Vacation
8099                                  Straight Up
8125                                  Super Wings
8132    Surviving R. Kelly Part II: The Reckoning
8437                       The Netflix Afterparty
Name: title, Length: 1545, dtype: object